#### SUPABASE ####
# You can create a Supabase project on self-hosted instance, MUST BE UPDATED
SUPABASE_PROJECT_URL=http://localhost:54321
SUPABASE_SECRET_PROJECT_TOKEN=

#### WIKIADVISER ####
# In .env file, we have an environment variable entitled WIKIADVISER_LANGUAGES in both frontend and supabase-functions. The value of this value must be comma separated.
WIKIADVISER_LANGUAGES=en,fr
WIKIADVISER_FRONTEND_ENDPOINT=http://localhost:9000
WIKIPEDIA_PROXY=https://wiki.adminforge.de

#### MEDIAWIKI ####
MEDIAWIKI_HOST=localhost:8080  
MEDIAWIKI_ENDPOINT=http://host.docker.internal:9000/wiki
MEDIAWIKI_REVERSE_PROXY_ENDPOINT=http://host.docker.internal:9000

# Generate a bot password from: MEDIAWIKI_ENDPOINT/wiki/{fr/en}/index.php/Special:BotPasswords, MUST BE UPDATED
MW_BOT_USERNAME=your-secret-bot-username
MW_BOT_PASSWORD=your-secret-bot-password

## Provide SENTRY DSN to activate reporting and monitoring - https://sentry.io
# SENTRY_DSN_FRONTEND=
# SENTRY_ENV_FRONTEND=

## Provide POSTHOG HOST & API  KEY to activate analytics - https://posthog.com
# POSTHOG_API_KEY=
# POSTHOG_API_HOST=

# Environement #
NODE_ENV=production

# Daily Share link limit
# SHARE_LINK_DAY_LIMIT=2

# X-API-KEY is used to ensure secure bidirectional communication between the mediawiki instance and supabase functions
X_API_KEY=your-secret-X-API-KEY
