wikiadviser.io {
	redir https://app.wikiadviser.io
}

app.wikiadviser.io {
	root * /usr/share/caddy/html
	encode gzip
	try_files {path} /index.html
	file_server
}

api.wikiadviser.io {
	reverse_proxy wikiadviser-api:{$WIKIADVISER_API_PORT}
}
