(cors) {
	@cors_preflight{args[0]} method OPTIONS
	@cors{args[0]} header Origin {args[0]}

	handle @cors_preflight{args[0]} {
		header {
			Access-Control-Allow-Origin "{args[0]}"
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
			Access-Control-Allow-Headers *
			Access-Control-Max-Age "3600"
			defer
		}
		respond "" 204
	}

	handle @cors{args[0]} {
		header {
			Access-Control-Allow-Origin "{args[0]}"
			Access-Control-Expose-Headers *
			defer
		}
	}
}
wikiadviser.io {
	redir https://app.wikiadviser.io
}

app.wikiadviser.io {
	root * /usr/share/caddy/html
	file_server

	# rewrite * /usr/share/caddy/html/index.html
}

api.wikiadviser.io {
	import cors https://app.wikiadviser.io
	reverse_proxy wikiadviser-api:{$WIKIADVISER_API_PORT}
}
