wikiadviser.io {
	redir https://app.wikiadviser.io
}

app.wikiadviser.io/robots.txt, wikiadviser.io/robots.txt {
	respond "User-agent: *\nDisallow: /\nNoindex: /\nNofollow: /"
}

app.wikiadviser.io {
	root * /usr/share/caddy/html
	encode gzip
	try_files {path} /index.html
	file_server
}

api.wikiadviser.io {
	reverse_proxy wikiadviser-api:{$WIKIADVISER_API_PORT}
	request_body {
		max_size 10MB
	}
}
