version: "3.1"

services:
  wikiadviser-caddy:
    image: wikiadviser-caddy:git
    container_name: wikiadviser-caddy
    volumes:
      - caddy-data:/data
      - ./Caddyfile.demo:/etc/caddy/Caddyfile:ro
      - ./robots.txt:/etc/caddy/robots.txt:ro
      - /var/log/caddy/:/var/log/caddy/
    build:
      context: frontend
      args:
        SUPABASE_PROJECT_URL: ${SUPABASE_PROJECT_URL}
        SUPABASE_ANON_KEY: ${SUPABASE_ANON_KEY}
        MEDIAWIKI_ENDPOINT: ${MEDIAWIKI_ENDPOINT}
        WIKIADVISER_LANGUAGES: ${WIKIADVISER_LANGUAGES}
        MEDIAWIKI_DEV_ENDPOINT: ${MEDIAWIKI_DEV_ENDPOINT}
        SHARE_LINK_DAY_LIMIT: ${SHARE_LINK_DAY_LIMIT}
        SENTRY_DSN_FRONTEND: ${SENTRY_DSN_FRONTEND}
        SENTRY_ENV_FRONTEND: ${SENTRY_ENV_FRONTEND}
        X_API_KEY: ${X_API_KEY}
        USE_MIRA: ${USE_MIRA}
    ports:
      - 443:443
      - 80:80
    environment:
      - WIKIADVISER_FRONTEND_ENDPOINT=${WIKIADVISER_FRONTEND_ENDPOINT}
      - WIKIADVISER_LANGUAGES=${WIKIADVISER_LANGUAGES}
      - MEDIAWIKI_DEV_ENDPOINT=${MEDIAWIKI_DEV_ENDPOINT}
      - SENTRY_DSN_FRONTEND=${SENTRY_DSN_FRONTEND}
      - SENTRY_ENV_FRONTEND=${SENTRY_ENV_FRONTEND}
      - SHARE_LINK_DAY_LIMIT=${SHARE_LINK_DAY_LIMIT}
      - SUPABASE_PROJECT_URL=${SUPABASE_PROJECT_URL}
      - X_API_KEY=${X_API_KEY}
      - USE_MIRA=${USE_MIRA}

volumes:
  caddy-data:
