#### SUPABASE ####
# You can create a Supabase project on https://app.supabase.com/ or use a self-hosted instance
SUPABASE_PROJECT_URL=http://localhost:54321
SUPABASE_SECRET_PROJECT_TOKEN=your-secret-project-token

#### WIKIADVISER ####
# In .env file, we have an environment variable entitled WIKIADVISER_LANGUAGES in both frontend and backend. The value of this value must be comma separated.
WIKIADVISER_LANGUAGES=en,fr
WIKIADVISER_API_PORT=3000
WIKIADVISER_FRONTEND_ENDPOINT="http://localhost:9000"
WIKIPEDIA_PROXY=https://wiki.adminforge.de

#### MEDIAWIKI ####
MEDIAWIKI_INTERNAL_ENDPOINT="https://wiki-dev.wikiadviser.io/wiki"
MEDIAWIKI_ENDPOINT="https://wiki-dev.wikiadviser.io/wiki"
MW_ADMIN_USERNAME=your-secret-admin-username
MW_ADMIN_PASSWORD=your-secret-admin-password
# Generate a bot password from: MEDIAWIKI_ENDPOINT/wiki/Special:BotPasswords
MW_BOT_USERNAME=your-secret-bot-username
MW_BOT_PASSWORD=your-secret-bot-password

## provide SENTRY DSN to activate reporting and monitoring - https://sentry.io
SENTRY_DSN=
SENTRY_ENV_BACKEND=

# Environement #
NODE_ENV='development'
