out/
coverage/
./config/
logs/
./supabase

.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!*.cjs
docker-data/
out/
.nyc_output
dist

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
supabase/.temp
supabase/.branches