.ve-ui-desktopContext {
  position: absolute;
}
.ve-ui-desktopContext-menu {
  position: absolute;
  width: 400px;
}
.ve-ui-desktopContext-menu .oo-ui-toolbar-bar {
  white-space: nowrap;
  border: 0;
  background: none;
}
.ve-ui-desktopContext-menu .oo-ui-toolGroup {
  border: 0;
  margin: 0;
}
.ve-ui-desktopContext-menu .oo-ui-tool,
.ve-ui-desktopContext-menu .oo-ui-tool:hover {
  border: 0;
}
.ve-ui-desktopContext-menu .oo-ui-tool:active,
.ve-ui-desktopContext-menu .oo-ui-tool-active {
  background-image: none;
}
.ve-ui-desktopContext-floating {
  position: fixed;
}
.ve-ui-desktopContext-embedded > .oo-ui-popupWidget > .oo-ui-popupWidget-popup {
  margin-top: 0.25em;
  margin-right: 0.25em;
}
.ve-ui-diffElement {
  position: relative;
}
.ve-ui-diffElement:after {
  content: '';
  clear: both;
  display: block;
}
.ve-ui-diffElement-content {
  overflow-x: auto;
  position: relative;
  margin-left: -5px;
  padding-left: 5px;
}
.ve-ui-diffElement-hasDescriptions .ve-ui-diffElement-content {
  margin-right: 16em;
  padding-right: 1em;
  border-right: 1px solid #c8ccd1;
}
@media (max-width: 400px) {
  .ve-ui-diffElement-hasDescriptions .ve-ui-diffElement-content {
    margin-right: 6em;
  }
}
.ve-ui-diffElement-hasDescriptions .ve-ui-diffElement-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 15em;
}
@media (max-width: 400px) {
  .ve-ui-diffElement-hasDescriptions .ve-ui-diffElement-sidebar {
    width: 5em;
  }
}
.ve-ui-diffElement-overlays {
  position: absolute;
  opacity: 0.5;
  z-index: 2;
  pointer-events: none;
}
.ve-ui-diffElement-warning {
  font-style: italic;
}
.ve-ui-diffElement-warning > .oo-ui-iconWidget {
  margin-right: 0.3em;
}
.ve-ui-changeDescriptionsSelectWidget > .oo-ui-optionWidget {
  cursor: default;
  font-size: 0.92857143em;
}
.ve-ui-changeDescriptionsSelectWidget > .oo-ui-optionWidget-highlighted {
  background: #b6d4fb;
}
.ve-ui-diffElement-highlight {
  position: absolute;
  outline: 3px solid #6da9f7;
  padding: 2px;
  margin: -2px 0 0 -2px;
  pointer-events: none;
}
.ve-ui-diffElement-attributeChange {
  color: #72777d;
}
.ve-ui-diffElement-attributeChange del {
  background-color: #f2c2bf;
  box-shadow: 0 0 0 1px #f2c2bf;
  text-decoration: line-through;
}
.ve-ui-diffElement-attributeChange del:hover {
  background-color: #f2c2bf;
  box-shadow: 0 0 0 1px #f2c2bf;
  text-decoration: none;
}
.ve-ui-diffElement-attributeChange ins {
  background-color: #c4ede4;
  box-shadow: 0 0 0 1px #c4ede4;
  text-decoration: none;
}
.ve-ui-diffElement-attributeChange.oo-ui-labelElement
  .oo-ui-labelElement-label {
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.ve-ui-diffElement-attributeChange.oo-ui-labelElement
  .oo-ui-labelElement-label
  ol,
.ve-ui-diffElement-attributeChange.oo-ui-labelElement
  .oo-ui-labelElement-label
  ul {
  margin-left: 1.8em;
}
[data-diff-action='insert'],
[data-diff-action='remove'],
[data-diff-action='change-insert'],
[data-diff-action='change-remove'] {
  text-decoration: inherit;
}
ins[data-diff-action='insert'],
del[data-diff-action='remove'] {
  white-space: pre-wrap;
}
[data-diff-action='insert'],
[data-diff-action='insert'] > caption,
[data-diff-action='insert'] > figcaption {
  background-color: rgba(0, 175, 137, 0.5) !important;
  box-shadow: 0 0 0 1px rgba(0, 175, 137, 0.5);
}
[data-diff-action='remove'],
[data-diff-action='remove'] > caption,
[data-diff-action='remove'] > figcaption {
  background-color: rgba(209, 29, 19, 0.5) !important;
  box-shadow: 0 0 0 1px rgba(209, 29, 19, 0.5);
}
[data-diff-action='change'],
[data-diff-action='change-insert'] {
  background-color: rgba(109, 169, 247, 0.5) !important;
  box-shadow: 0 0 0 1px rgba(109, 169, 247, 0.5);
}
[data-diff-move],
[data-diff-move] > caption,
[data-diff-move] > figcaption {
  background: rgba(213, 217, 225, 0.5);
  outline: 5px solid rgba(213, 217, 225, 0.5);
}
[data-diff-action='change-remove'] {
  display: none;
}
[data-diff-action='remove'] {
  text-decoration: line-through;
}
[data-diff-action='remove']:hover {
  text-decoration: none;
}
[data-diff-action='remove'] + [data-diff-action='insert'],
[data-diff-action='insert'] + [data-diff-action='remove'],
[data-diff-action='remove'] + [data-diff-action='change-insert'],
[data-diff-action='insert'] + [data-diff-action='change-remove'] {
  margin-left: 4px;
}
[data-diff-action='none']:not([data-diff-move]) {
  opacity: 0.4;
}
[data-diff-action='insert'],
[data-diff-action='remove'],
[data-diff-action='change-insert'],
[data-diff-action='change-remove'],
[data-diff-move] {
  position: relative;
  z-index: 1;
}
@supports (mix-blend-mode: darken) {
  [data-diff-action='insert'] > *,
  [data-diff-action='remove'] > *,
  [data-diff-action='change'] > *,
  [data-diff-action='change-insert'] > *,
  [data-diff-action='change-remove'] > *,
  [data-diff-move] > * {
    mix-blend-mode: darken;
  }
}
.ve-ui-diffElement-moved-up,
.ve-ui-diffElement-moved-down {
  position: relative;
  padding-left: 1em;
}
.ve-ui-diffElement-moved-up:before,
.ve-ui-diffElement-moved-down:before {
  position: absolute;
  left: 0;
  line-height: 1;
}
.ve-ui-diffElement-moved-down:before {
  content: '↓';
}
.ve-ui-diffElement-moved-up:before {
  content: '↑';
}
[data-diff-action='insert']:empty:before,
[data-diff-action='remove']:empty:before,
[data-diff-move]:empty:before,
[data-diff-action='insert'] *:empty:before,
[data-diff-action='remove'] *:empty:before,
[data-diff-move] *:empty:before {
  content: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ve-ui-diffElement-no-changes {
  color: #72777d;
  font-style: italic;
}
.ve-ui-diffElement-spacer {
  color: #72777d;
  clear: both;
}
.ve-ui-diffElement-internalListSpacer {
  list-style-type: none !important;
}
.ve-ui-languageInspector-languageField.oo-ui-fieldLayout-align-left.oo-ui-labelElement
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-header {
  width: 7em;
}
.ve-ui-languageInspector-languageField.oo-ui-labelElement.oo-ui-fieldLayout-align-left
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-field {
  width: auto;
}
.ve-ui-languageInputWidget-selectedLanguageLabel {
  width: 7.5em;
  margin-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
.ve-ui-languageInputWidget-languageCodeTextInput {
  width: 6em;
  display: inline-block;
}
.ve-ui-languageInputWidget-directionLabel {
  margin-top: 0.5em;
  display: block;
}
.ve-ui-languageResultWidget-otherMatch {
  color: #72777d;
  float: right;
}
.ve-ui-languageResultWidget .oo-ui-labelWidget {
  cursor: inherit;
  padding: 0.5em 0;
}
.ve-ui-mwLanguageVariantNodeContextItem-rule-table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}
.ve-ui-mwLanguageVariantNodeContextItem-rule-table th {
  white-space: nowrap;
  border-bottom: 1px solid #c8ccd1;
  text-align: left;
}
.ve-ui-mwLanguageVariantNodeContextItem-rule-table th,
.ve-ui-mwLanguageVariantNodeContextItem-rule-table td {
  padding: 0.75em 1em;
  border-bottom: 1px solid #fff;
}
.ve-ui-mwLanguageVariantNodeContextItem-rule-table tr:nth-child(odd) td {
  background: #eaecf0;
}
.ve-ui-mwLanguageVariantNodeContextItem-rule-table tr:nth-child(even) td {
  background: #f8f9fa;
}
